<!DOCTYPE html>
<html>
	<head>
    	<link rel="stylesheet"
          href="chartist/chartist.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        	.ct-bar {
        		stroke-width: 2.5px;
        	}
        	.ct-bar:hover {
        		stroke: blue;
        	}
        </style>
  	</head>

  	<body>
  		<h1>Title</h1>
  		<div class="ct-chart ct-golden-section">
  			
  		</div>
  		<script src="chartist/chartist.min.js"></script>
  	</body>


	<script type="text/javascript">
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
   				var json_obj = JSON.parse(this.responseText);
   				var data = {
			  		labels: json_obj.timestamps,
			 		series: [json_obj.values]
			 		
				};

				var options = {
			  		axisX: {
			    		labelInterpolationFnc: function(value, index) {
			    			date = new Date(value*1000);
							hours = date.getHours();
							minutes = "0" + date.getMinutes();
							date_string = hours + ":" + minutes.substr(-2);
							value = date_string;
			      			return index % 10 === 0 ? value : null;
			    		}
			 		},
			 		axisY: {
			 			offset:80,
			    		labelInterpolationFnc: function(value) {
			 
			      			return value + 'Watts';
			    		}
			 		}
				};
				new Chartist.Bar('.ct-chart', data, options);

   			}
		}

		xhttp.open("GET", "/greenbuttondata");
		xhttp.send();


		
	</script>


</html>