<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portfolio</title>
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- Portfolio Specific Style Sheet -->
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>	
	<div class="container">
		<header>
			<div class="row">
				<div class="col-md-3 col-xs-6 title-logo">			
					<!-- &#128506; -->
					<img src="images/earth.svg" class="icon-image">
				</div>
				<div class="col-md-9 col-xs-6 text-right">					
					<h1 id="PersonName">Timothy Searcy</h1>
					<h4>Software Engineer</h4>
					<a id="menu">
           				 &#9776;
          			</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<hr>
				</div>
			</div>
			
			<div class="row ">
				<div class="col-md-12 col-xs-12">				
					<div class="main-photo"></div>
				</div>
			</div>
			<nav id="drawer" class="nav">
		      <ul class="nav__list">
		        <li class="nav__item"><a href="#">Home</a></li>
		        <li class="nav__item"><a href="#">Bio</a></li>
		        <li class="nav__item"><a href="#">Works</a></li>
		        <li class="nav__item"><a href="#">Blog</a></li>
		      </ul>
    		</nav>
		</header>
		<section class="main-content">
			<section class="main-content-header">
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<h3 id="featuredWorks"> Featured Works </h3>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="row text-center">
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
							<div id="workIcon" data-toggle="modal" data-target="#MovieModal"><img src="images/movie.svg" class="tile-image"></div>	
							<h4>Favorite Movie Site Creater</h4>
							<a href="https://github.com/nanomosfet/MovieCreator">github.com/nanomosfet/MovieCreator</a>
						</div>
					</article>
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
							<div id="workIcon" data-toggle="modal" data-target="#SurfModal"><img src="images/wave.svg" class="tile-image"></div>
							<h4>Surf to Color LED</h4>
							<a href="https://github.com/nanomosfet/Surf2Color">github.com/nanomosfet/Surf2Color</a>
						</div>
					</article>
					<article>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
							<div id="workIcon" data-toggle="modal" data-target="#PlantModal"><img src="images/plant.svg" class="tile-image"></div>
							<h4>Automated Plant Watering</h4>
							<a href="https://github.com/nanomosfet/AutoWateringGarden">github.com/nanomosfet/AutoWateringGarden</a>
						</div>
					</article>
				</div>
			</section>

		</section><!-- End Main Content -->
	</div>
	<section class="modals">
		<!-- Movie Modal -->
	    <div class="modal fade" id="MovieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h4 class="modal-title" id="myModalLabel">Favorite Movie Site Creater</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="text-center" id="workIcon" data-toggle="modal" data-target="#testModal"><img src="images/movie.svg" class="tile-image"></div>	
	                    <p>This is a Python program that lets you easily create your own favorite movie website that shows information and trailers of the movies</p>
	                    <a href="/moviesite">Link to the example page</a> 
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- Surf Modal -->
	    <div class="modal fade" id="SurfModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h4 class="modal-title" id="myModalLabel">Surf to Color LED</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="text-center" id="workIcon" data-toggle="modal" data-target="#testModal"><img src="images/wave.svg" class="tile-image"></div>
	                    <p>This is a Python program that is used on the rasberry pi to change a LED's color depending on the surf conditions of your local beach.</p>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- Plant Modal -->
	    <div class="modal fade" id="PlantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h4 class="modal-title" id="myModalLabel">Automated Plant Watering</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="text-center" id="workIcon" data-toggle="modal" data-target="#testModal"><img src="images/plant.svg" class="tile-image"></div>
	                    <p>This is an Arduino project that lets you automatically water your plants.</p>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	<script>
      var menu = document.querySelector('#menu');
      var drawer = document.querySelector('#drawer');
      var toggle_on = 0;
      if(!toggle_on) {
        menu.addEventListener('click', function(e) { 
          drawer.classList.toggle('open');
          e.stopPropagation();
        });
      }

      if(toggle_on) {
        menu.addEventListener('click', function(e) {
          drawer.classList.remove('open');
        });
      }

      menu.addEventListener('drag',function(event){
        menu.style.right = "";
        menu.style.top = "";
        draggable.style.top = String(event.screenY) + "px";
        draggable.style.left = String(event.screenX) + "px";
        console.log(event.clientY)
        console.log(event.clientX)
      });

    </script>
</body>
</html>